:root {
    --light-sand: #FBEEAC;
    --dark-sand: #F4D160;
    --light-ocean: #75C2F6;
    --dark-ocean: #1D5D9B;
    --pos-display: 1028px;
    --desktop-display: 1080px;
}

html {}

body {
    margin: 2px;
    background-color: var(--dark-sand);
}

header {
    border-radius: 7px;
    height: 30px;
    width: var(--pos-display);
    display: flex;
    background-color: var(--light-ocean);
    align-items: center;
}

.body {
    width: var(--pos-display);
    height: 100vh;
    display: flex;
    border-radius: 7px;
    background-color: var(--light-sand);

}




img {
    padding-left: 10px;
    width: 20px;
    height: 20px;

}